<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation-icons/3.0/foundation-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.css"/>


</head>
<body>
<div class="row">
    <div class="small-12 medium-12 columns">

        <h1>My Blog</h1>

        <th:block th:each="post : ${posts}">
            <h3 th:text="${post.title}"></h3>
            <i class="fi-calendar"> </i><span  th:text="${post.date}"> </span><span> | <i class="fi-price-tag"> </i></span><span th:text="${post.tag.tag}"></span>
            <p th:text="${post.text}"></p>
            <hr>

        </th:block>
       <!-- <table>

            <tbody>
            <th:block th:each="post : ${posts}">

               &lt;!&ndash; <tr>
                    <td th:text="${post.id}"></td>
                </tr>&ndash;&gt;
                <tr>
                    <td th:text="${post.title}"></td>
                </tr>
                <tr>
                    <td th:text="${post.text}"></td>
                </tr>
                <tr>
                    <td th:text="${post.date}"></td>
                </tr>
                <tr>
                    <td th:text="${post.tag.tag}"></td>
                </tr>

            </th:block>

            </tbody>
        </table>-->


        <!--<form th:action="@{/save}" method="post" th:object="${newBook}">-->
        <!--&lt;!&ndash;     <label>ID-->
        <!--<input type="text" th:field="*{id}">-->
        <!--</label>&ndash;&gt;-->
        <!--<label>Book-->
        <!--<input type="text" th:field="${newBook.bookName}">-->
        <!--</label>-->
        <!--<label>Book Author-->
        <!--<select th:field="*{bookAuthor}">-->
        <!--<option value="1">Agatha Christie</option>-->
        <!--<option value="2">William Shakespeare</option>-->
        <!--<option value="3">Paulo Coelho</option>-->
        <!--<option value="4">Stephen King</option>-->
        <!--</select>-->
        <!--</label>-->
        <!--&lt;!&ndash;<input type="text" th:field="*{bookAuthor}">&ndash;&gt;-->
        <!--<label>Book Genre-->
        <!--<select th:field="*{bookGenre}">-->
        <!--<option value="1">classic</option>-->
        <!--<option value="2">comedy</option>-->
        <!--<option value="4">detective</option>-->
        <!--<option value="3">fantasy</option>-->
        <!--</select>-->
        <!--</label>-->
        <!--&lt;!&ndash;<input type="text" th:field="*{bookGenre}">&ndash;&gt;-->

        <!--<button type="submit" class="button" value="Submit">Add New Book or Update by ID</button>-->
        <!--</form>-->
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.js"></script>

<script>
    $(document).foundation();


</script>
</body>
</html>