<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation-icons/3.0/foundation-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.css"/>


</head>
<body>
<div class="row">
    <div class="top-bar"><h1>My Blog</h1>
        <h3>About politics and shit like this</h3></div>
</div>
<hr>



<div class="row">


    <div class="small-12 medium-8 columns">


        <th:block th:each="post : ${posts}">
            <i class="fi-calendar"> </i><span th:text=" ${#dates.format(post.date, 'dd/MM/yyyy HH:mm')}"></span><span> | <i
                class="fi-price-tag"> </i></span><span th:text="${post.tag.tag}"></span>
            <h3 th:text="${post.title}"></h3>
            <p th:text="${post.text}"></p>
            <hr>

        </th:block>
    </div>

    <div class="small-12 medium-4 columns right">


                <form th:action="@{/save}" method="post" th:object="${newPost}">
                    <!--     <label>ID
                    <input type="text" th:field="*{id}">
                    </label>-->
                    <label>Title
                        <input type="text" th:field="${newPost.title}">
                    </label>
                    <label>Post
                        <textarea placeholder="О чем вы думаете?" th:field="*{text}"></textarea>
                    </label>
                    <!--<input type="text" th:field="*{bookAuthor}">-->
                    <label>Tag
                        <select th:field="*{tagId}">
                            <option th:each="tag: ${tags}" th:value="${tag.id}" th:text="${tag.tag}"></option>
                        </select>
                    </label>
                    <!--<input type="datetime" th:field="*{date}" id="date">-->

                    <button type="submit" class="button" value="Submit">Publish</button>
                </form>


    </div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.js"></script>

<script>
    $(document).foundation();

    //    var today = new Date();
    //    var dd = today.getDate();
    //    var mm = today.getMonth()+1; //January is 0!
    //    var yyyy = today.getFullYear();
    //
    //    if(dd<10) {
    //        dd='0'+dd
    //    }
    //
    //    if(mm<10) {
    //        mm='0'+mm
    //    }
    //
    //    today = yyyy+'/'+mm+'/'+dd;
    //    document.write(today);

</script>
</body>
</html>